@font-face {
  font-family: 'TelefonicaHeadlineLightRg';
  src: url('./fonts/telefonicah-webfont.eot');
  src: url('./fonts/telefonicah-webfont.eot?#iefix') format('embedded-opentype'),
     url('./fonts/telefonicah-webfont.woff') format('woff'),
      /*url('./fonts/telefonicah-webfont.ttf') format('truetype'),*/
     url('./fonts/TelefonicaH.otf') format('opentype'),
  url('./fonts/telefonicah-webfont.svg#TelefonicaHeadlineLightRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TelefonicaRg';
  src: url('./webfonts/telefonicatext-regular-webfont.eot');
  src: url('./webfonts/telefonicatext-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./webfonts/telefonicatext-regular-webfont.woff2') format('woff2'),
       url('./webfonts/telefonicatext-regular-webfont.woff') format('woff'),
       url('./webfonts/telefonicatext-regular-webfont.ttf') format('truetype'),
       url('./webfonts/telefonicatext-regular-webfont.svg#telefonicatext-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TelefonicaTextBold';
  src: url('./webfonts/telefonicatext-bold-webfont.eot');
  src: url('./webfonts/telefonicatext-bold-webfont.eot?#iefix') format('embedded-opentype'), 
   url('./webfonts/telefonicatext-bold-webfont.woff') format('woff'), 
   url('./webfonts/telefonicatext-bold-webfont.ttf') format('truetype'), 
   url('./webfonts/telefonicatext-bold-webfont.svg#telefonicatext-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TelefonicaExtraLight';
  src: url('./webfonts/TelefonicaWeb-ExtraLight.eot');
  src: url('./webfonts/TelefonicaWeb-ExtraLight.eot?#iefix') format('embedded-opentype'), 
   url('./webfonts/TelefonicaWeb-ExtraLight.woff') format('woff'), 
   url('./webfonts/TelefonicaWeb-ExtraLight.ttf') format('truetype'), 
   url('./webfonts/TelefonicaWeb-ExtraLight.svg#telefonicatext-extralight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TelefonicaWeb-Light';
  src: url('./webfonts/TelefonicaWeb-Light.eot');
  src: url('./webfonts/TelefonicaWeb-Light.eot?#iefix') format('embedded-opentype'), 
   url('./webfonts/TelefonicaWeb-Light.woff') format('woff'), 
   url('./webfonts/TelefonicaWeb-Light.ttf') format('truetype'), 
   url('./webfonts/TelefonicaWeb-Light.svg#telefonicatext-light') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'TelefonicaHeadlineLightRg'
}


.home {
  width: 100%;
} 
.content {
  width: 100%;
  height: 800px;
  background: rgb(223, 227, 230);
}
.sectionMaps {
  width: 100%;
  height: 400px;
  background: rgb(223, 227, 230);
}
.maps {
  width: 100%;
  display: flex;
  align-content: center;
}
.map {
  width: 100%;
  height: 400px;
  background: rgb(223, 227, 200);
}
.footer {
  width: 100%;
  background: rgb(155, 159, 163);
  height: 100px;
}

/* preheader */

ul.ulsico {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: flex-end;
}

ul.ulsico a {
  font-size: 0px;
  height: 30px;
  width: 30px;
  background: #ccc;
  display: block;
  margin-left: 5px;
}

/* header */

.header {
  background: #fff;
}

.header .icon.icon-logo-color {
  width: 170px;
  height: 93px;
  background: url('../images/sprite.png');
  display: block;
}

.brands {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.brand {
  display: flex;
  padding: 15px;
}

.titles {
  display: flex;
  flex-direction: row-reverse;
  padding: 15px;
}

.titles > img {
  padding-left: 15px;
}

.columns {
  width: 100%;
}

.title_top a {
  text-decoration: none;
  color: #013145
}

.title_top .h1 {
  font-size: 34px;
  margin: 0px;
}

.claim {
  color: #990099;
}


/* partiness */

.partiness {
  background-color: #024560;
  width: 100%;
}

/* grid */

.plus {
  max-width: 1300px;
}

/* banner */

.banners {
  display: flex;
  justify-content: space-between;
}
@media(max-width: 768px) {

  .banners {
    flex-direction: column;
  }
}

.bannerFixed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}

.bannerFixed .item {
  height: 220px;
  background: #2085a2;
}

.bannerFixed .item img {
  max-width: 100%;
}

.item.purple {
  background: #a421a2;
  padding: 50px;
}

.uppercase {
  text-transform: uppercase;
}

.white {
  color: #fff;
}

.item.purple .h4 {
  font-size: 25px;
  font-weight: 600;
}

.item.purple .span {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  display: block;
}

.bannerSlider img {
  max-width: 100%;
}