.home {
  width: 100%;
  .content {
    width: 100%;
    height: 800px;
    background: rgb(223, 227, 230);

    .sectionBanners {
      width: 100%;
      height: 400px;
      background: rgb(197, 202, 206);
      
    }
    .sectionMaps {
      width: 100%;
      height: 400px;
      background: rgb(223, 227, 230);
      .maps {
        width: 100%;
        display: flex;
        align-content: center;
        .map {
          width: 100%;
          height: 400px;
          background: rgb(223, 227, 200);
        }
      }
    }
  }
  .footer {
    width: 100%;
    background: rgb(155, 159, 163);
    height: 100px;
  }
}